body {
  background: #ffefa0;
}

main div table {
  color: black;
  width: 960px;
  margin: auto;
  text-align: center;
  border: outset;
  margin-top: 50px;
  height: 250px;
}

td {
  border: solid;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  border: solid;
  border-color: darkred;
  font-family: Arial, Helvetica, sans-serif;
}

fieldset {
  border: solid;
  inline-size: min-content;
  margin-left: 600px;
}

button {
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
  color:saddlebrown;
  font-weight: 700;;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid;
  border-radius: 20px;
}

a:hover {
  transition-delay: 0.5ms;
  color: white;
  border: solid;
  margin-left: 20px;
}
