header {
  background: rgb(94, 38, 0);
}

header img {
  width: 200px;
  border-radius:200px;
}


body header ul {
  display: inline;
  float: right;
}

body header ul a {
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: large;
  padding: 20px 20px;
  border: solid;
  padding-top: 10px;
}

a:hover {
  transition-delay: 250ms;
  transition: 200ms;
  color: blue;
}

ul li {
    font-family: 'Courier';
    font-weight: 700;
}