/* font family */

@import url("https://fonts.googleapis.com/css2?family=Praise&family=Shippori+Antique&family=ZCOOL+XiaoWei&display=swap");

/* font-family: 'Praise', cursive;
font-family: 'Shippori Antique', sans-serif;
font-family: 'ZCOOL XiaoWei', serif; */

/* pag setup -------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "ZCOOL XiaoWei", serif, Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1f7e7;
}

/* -------------------------------------------------------------------------variables  */

:root {
  --background-element-color: #561f55;
  --text-color: #f9f9f9;
  --title-font-family: "ZCOOL XiaoWei", serif;
  --primery-font-family: "Shippori Antique", sans-serif;
  --title-font-size: 3rem;
  --primery-font-size: 1.5rem;
  --secondery-font-size: 1rem;
  --letter-spacing: 0.1rem;
}

/*--------------------------------------------------------------------------- reapeated ---- */

.leftLogo,
.rightLogo,
.navList li a::after,
.dataList li {
  background-color: var(--background-element-color);
}

.dataList h2,
.title,
.navList li a,
.place {
  color: var(--text-color);
}

.navList li a,
.time {
  font-family: var(--primery-font-family);
}

.leftLogo,
.rightLogo,
.title,
.navList,
footer::after,
footer::before,
.mapouter,
.time {
  position: absolute;
}

.title,
.navList li a,
.place,
footer {
  text-transform: capitalize;
}

.title,
.navList li a,
.dataList h2,
.dataList li,
.time {
  letter-spacing: var(--letter-spacing);
}

.place:hover .dataList h2,
.navList li a::after,
.place {
  transition: 0.6s ease-out;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -ms-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
}

.navList li a,
footer h5,
.time {
  font-size: var(--primery-font-size);
}

/* ------------------------------------------------------------------animation */

@keyframes flash {
  50% {
    opacity: 0;
  }
}

@keyframes colors {
  50% {
    color: #561f55;
  }
}

/* ---------------------------------------------------------------------logo */

.leftLogo,
.rightLogo {
  width: 300px;
  height: 200px;
  box-shadow: 4px 4px 4px black;
  top: 10px;
}

.leftLogo {
  left: 10px;
}

.rightLogo {
  right: 10px;
}

.leftImg,
.rightImg {
  width: 300px;
  height: 200px;
}

.title {
  font-size: var(--title-font-size);
  top: 10%;
  left: 41%;
  transform: translate(-50px, -50px);
  -webkit-transform: translate(-50px, -50px);
  -moz-transform: translate(-50px, -50px);
  -ms-transform: translate(-50px, -50px);
  -o-transform: translate(-50px, -50px);
  animation: colors 2s infinite alternate;
  -webkit-animation: colors 2s infinite alternate;
}

/* navBar ----------------------------------------------------------------------------------------------------- */

.navList {
  display: flex;
  width: 60%;
  padding: 20px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}

.navList li a {
  text-decoration: none;
  margin: 0 120px;
}

.navList li {
  margin-top: 20px;
}

.navList li a::after {
  content: "";
  height: 3px;
  display: block;
  margin-left: 120px;
  width: 0;
}

.headerFP nav ul li a:hover::after {
  width: 50%;
}

/* data section ---------------------------------------------------------------------------- */
.dataSection {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template: repeat(2, minmax(500px, 1fr)) / repeat(3, minmax(400px, 1fr));
  gap: 15px;
}

/* design data sections----------------------------------------------------------------------- */

.place {
  text-align: center;
  border: 1px solid #561f55;
  padding: 20px;
  font: var(--title-font-size) bold;
  line-height: 1.5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0.6;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.seattle {
  background: #d79771 url("../img/seattle.jpg") center;
  background-size: cover;
}

.tokyo {
  background: #d79771 url("../img/tokyo.jpg") center;
  background-size: cover;
}

.dubai {
  background: #d79771 url("../img/dubai.jpg") center;
  background-size: cover;
}

.paris {
  background: #d79771 url("../img/paris.jpg") center;
  background-size: cover;
}

.lima {
  background: #d79771 url("../img/lima.jpg") center;
  background-size: cover;
}

.amman {
  background: #d79771 url("../img/amman.jpg") center;
  background-size: cover;
}

.amman:hover .cover {
  background-color: rgba(12, 11, 11, 0.7);
}

.soon {
  animation: flash 2s linear infinite alternate;
  -webkit-animation: flash 2s linear infinite alternate;
  font-size: 5rem;
}

.place:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
  opacity: 1;
}

/* design parag. and hover over section ----------------------------------------------------------- */

.dataList a {
  text-decoration: none;
}

.dataList h2 {
  font: 5rem bolder;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}

.place:hover .dataList h2 {
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

.dataList li {
  visibility: hidden;
  margin-top: 5px;
  text-align: left;
}

.place:hover .dataList li {
  visibility: visible;
}

.icon {
  margin: 0 5%;
}

/* footer ------------------------------------ */

footer {
  position: relative;
}

footer::after,
footer::before {
  content: "";
  width: 3px;
  height: 250px;
  background-color: #f9f9f9;
  top: 62px;
}

footer::after {
  left: 190px;
}

footer::before {
  left: 1060px;
}

/* first div  */

.socialContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 65%;
}

.social {
  color: #000000;
}

.facebook:hover {
  color: #0f00ff;
}

.twitter:hover {
  color: #32c1cd;
}

.instagram:hover {
  color: #e02401;
}

.whatsapp:hover {
  color: #06623b;
}

/* second div  */

.mapouter {
  left: 20%;
  bottom: 20px;
  box-shadow: 6px 6px 6px black;
}

/* third div  */

.time {
  width: 400px;
  top: 25%;
  right: 0%;
}

footer h6 {
  margin-top: 10px;
  font-size: var(--secondery-font-size);
}
